In [33]:
import pandas as pd

In [34]:
Acc_vel_loc_sinrangos = pd.read_csv('Datasets/00 Accesos/Acc_vel_loc_sinrangos.csv', encoding='latin1')
Acc_vel_loc_sinrangos.head()

,Provincia,Partido,Localidad,Link Indec,Otros,"0,256 Mbps","0,5 Mbps","0,512 Mbps","0,75 Mbps",1 Mbps,...,680 Mbps,700 Mbps,800 Mbps,850 Mbps,900 Mbps,999 Mbps,1000 Mbps,1024 Mbps,4000 Mbps,10000 Mbps
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,NaN,NaN,2.0,NaN,19.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,6854010,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BUENOS AIRES,25 de Mayo,Del Valle,6854020,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BUENOS AIRES,25 de Mayo,Ernestina,6854030,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
Accesos_por_tecnologia = pd.read_csv('Datasets/00 Accesos/Accesos_por_tecnologia.csv', encoding='latin1')
Accesos_por_tecnologia.head()

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2024,1,Buenos Aires,203.297,2.790.663,1.799.013,150.290,101.294,5.044.557
1,2024,1,Capital Federal,70.108,1.177.475,203.756,4.493,48.879,1.504.711
2,2024,1,Catamarca,5.901,11.025,56.542,1.384,81.000,74.933
3,2024,1,Chaco,11.343,58.929,64.463,8.404,12.404,155.543
4,2024,1,Chubut,26.306,77.217,26.356,30.867,9.930,170.676

In [36]:
Accesos_por_velocidad = pd.read_csv('Datasets/00 Accesos/Accesos_por_velocidad.csv', encoding='latin1')
Accesos_por_velocidad.head()

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2024,1,Buenos Aires,26.002,22.510,221.185,233.225,241.778,106.418,4.068.292,125.147,5.044.557
1,2024,1,Capital Federal,516.000,5.418,29.753,51.415,37.369,5.957,1.374.283,0.000,1.504.711
2,2024,1,Catamarca,71.000,176.000,2.872,3.424,4.204,1.822,62.294,70.000,74.933
3,2024,1,Chaco,236.000,416.000,14.156,9.044,5.533,5.718,116.624,3.816,155.543
4,2024,1,Chubut,111.000,1.083,43.828,31.885,23.024,20.261,33.844,16.640,170.676

In [37]:
Accesos_Tecnologia_Localidad = pd.read_csv('Datasets/00 Accesos/Accesos_Tecnologia_Localidad.csv', encoding='latin1')
Accesos_Tecnologia_Localidad.head()

,Provincia,Partido,Localidad,Link Indec,ADSL,CABLEMODEM,DIAL UP,FIBRA OPTICA,OTROS,SATELITAL,WIMAX,WIRELESS,Total general
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,755,4.600,-,2,-,742,-,727,6.826
1,BUENOS AIRES,25 de Mayo,Del Valle,6854020,181,-,-,-,10,1,-,-,192
2,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,-,-,-,-,-,-,-,181,181
3,BUENOS AIRES,25 de Mayo,Norberto de la Riestra,6854060,-,782,-,496,16,-,-,185,1.479
4,BUENOS AIRES,25 de Mayo,Lucas Monteverde,6854050,-,-,-,-,-,-,-,6,6

In [38]:
Penetracion_hogares = pd.read_csv('Datasets/01 Penetracion/Penetracion-hogares.csv', encoding='latin1')
Penetracion_hogares.head()

    Año   Trimestre          Provincia  Accesos por cada 100 hogares
0  2024            1      Buenos Aires                        81,10
1  2024            1   Capital Federal                       119,53
2  2024            1         Catamarca                        68,82
3  2024            1             Chaco                        46,70
4  2024            1            Chubut                        84,89

In [39]:
Penetracion_Poblacion = pd.read_csv('Datasets/01 Penetracion/Penetracion-Poblacion.csv', encoding='latin1')
Penetracion_Poblacion.head()

    Año   Trimestre          Provincia  Accesos por cada 100 hab
0  2024            1      Buenos Aires                    27,80
1  2024            1   Capital Federal                    48,78
2  2024            1         Catamarca                    17,50
3  2024            1             Chaco                    12,48
4  2024            1            Chubut                    26,02

In [40]:
Penetracion_totales = pd.read_csv('Datasets/01 Penetracion/Penetracion-totales.csv', encoding='latin1')
Penetracion_totales.head()

,Año,Trimestre,Accesos por cada 100 hogares,Accesos por cada 100 hab,Periodo
0,2024,1,"78,89","24,79",Ene-Mar 2024
1,2023,4,"78,56","24,66",Oct-Dic 2023
2,2023,3,"77,84","24,41",Jul-Sept 2023
3,2023,2,"77,02","24,14",Abr-Jun 2023
4,2023,1,"77,20","24,17",Ene-Mar 2023

In [41]:
Internet_IngresosTotalesxTrimestre = pd.read_csv('Datasets/02 Totales/Internet_IngresosTotalesxTrimestre.csv', encoding='latin1')
Internet_IngresosTotalesxTrimestre.head()

    Año   Trimestre  Ingresos (miles de pesos)         Periodo
0  2024            1           280.419.124,08     Ene-Mar 2024
1  2023            4           167.376.014,80     Oct-Dic 2023
2  2023            3           133.106.593,41    Jul-Sept 2023
3  2023            2           118.060.280,28     Jun-Mar 2023
4  2033            1           104.134.992,81     Ene-Mar 2023

In [42]:
Totales_Accesos_por_tecnologia = pd.read_csv('Datasets/02 Totales/Totales_Accesos_por_tecnologia.csv', encoding='latin1')
Totales_Accesos_por_tecnologia.head()

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total,Periodo
0,2024,1,774.475,5.986.957,4.015.101,598.682,257.941,11.633.156,Ene-Mar 2024
1,2023,4,836.390,6.022.532,3.908.183,585.760,194.796,11.547.661,Oct-Dic 2023
2,2023,3,897.895,6.018.832,3.708.718,581.436,200.027,11.406.908,Jul-Sept 2023
3,2023,2,1.006.509,5.997.149,3.463.988,581.823,202.428,11.251.897,Abr-Jun 2023
4,2023,1,1.204.417,6.002.582,3.243.411,576.647,214.838,11.241.895,Ene-Mar 2023

In [43]:
Totales_Accesos_por_velocidad = pd.read_csv('Datasets/02 Totales/Totales_Accesos_por_velocidad.csv', encoding='latin1')
Totales_Accesos_por_velocidad.head()

,Año,Trimestre,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,Total
0,2024,1,28.801,69.355,866.152,950.930,672.155,353.896,8.363.694,328.173,11.633.156
1,2023,4,29.708,71.742,900.253,978.108,697.232,350.290,8.224.736,295.592,11.547.661
2,2023,3,30.274,80.609,945.608,998.725,720.084,350.918,8.003.269,277.421,11.406.908
3,2023,2,30.827,79.405,963.510,1.028.250,734.125,364.730,7.775.095,275.955,11.251.897
4,2023,1,31.437,82.048,1.001.553,1.060.321,729.194,357.769,7.564.819,414.754,11.241.895

In [44]:
Totales_Dial_BAf = pd.read_csv('Datasets/02 Totales/Totales_Dial_BAf.csv', encoding='latin1')
Totales_Dial_BAf.head()

    Año   Trimestre  Banda ancha fija  Dial up        Total        Periodo
0  2024            1      11.621.363    11.793  11.633.156    Ene-Mar 2024
1  2023            4      11.535.868    11.793  11.547.661    Oct-Dic 2023
2  2023            3      11.395.115    11.793  11.406.908   Jul-Sept 2023
3  2023            2      11.239.781    12.116  11.251.897    Abr-Jun 2023
4  2023            1      11.229.459    12.436  11.241.895    Ene-Mar 2023

In [45]:
Totales_VMD = pd.read_csv('Datasets/02 Totales/Totales_VMD.csv', encoding='latin1')
Totales_VMD.head()

    Año  Trimestre Mbps (Media de bajada)    Trimestre.1
0  2024          1                 139,15   Ene-Mar 2024
1  2023          4                 139,04   Oct-Dic 2023
2  2023          3                 129,67  Jul-Sept 2023
3  2023          2                 123,95   Abr-Jun 2023
4  2023          1                 110,50   Ene-Mar 2023

In [46]:
Velocidad_por_provincia = pd.read_csv('Datasets/03 Velocidad/Velocidad_por_provincia.csv', encoding='latin1')
Velocidad_por_provincia.head()

    Año  Trimestre        Provincia Mbps (Media de bajada)
0  2024          1     Buenos Aires                 159,13
1  2024          1  Capital Federal                 229,94
2  2024          1        Catamarca                  91,45
3  2024          1            Chaco                 107,51
4  2024          1           Chubut                  20,50

In [47]:
Velocidad_Sin_Rangos = pd.read_csv('Datasets/03 Velocidad/Velocidad_Sin_Rangos.csv', encoding='latin1')
Velocidad_Sin_Rangos.head()

,Año,Trimestre,Provincia,Otros,"0,256 Mbps","0,375 Mbps","0,625 Mbps","0,5 Mbps","0,512 Mbps","0,75 Mbps",...,2048 Mbps,2529 Mbps,3072 Mbps,4000 Mbps,5000 Mbps,5125 Mbps,6000 Mbps,7000 Mbps,8000 Mbps,10000 Mbps
0,2024.0,1.0,Buenos Aires,125.147,18,-,-,25.815,169,4.611,...,-,-,-,-,-,-,-,-,-,-
1,2024.0,1.0,Capital Federal,-,31,-,-,451.000,34,1.307,...,-,-,-,-,-,-,-,-,-,-
2,2024.0,1.0,Catamarca,70,-,-,-,34.000,37,-,...,-,-,-,-,-,-,-,-,-,-
3,2024.0,1.0,Chaco,3.816,-,-,-,234.000,2,-,...,-,-,-,-,-,-,-,-,-,-
4,2024.0,1.0,Chubut,16.640,8,-,-,69.000,34,836,...,-,-,-,-,-,-,-,-,-,-

In [48]:
Dial_BAf = pd.read_csv('Datasets/04 Otros/Dial-BAf.csv', encoding='latin1')
Dial_BAf.head()

    Año  Trimestre        Provincia Banda ancha fija  Dial up      Total
0  2024          1     Buenos Aires        5.038.657     5.90  5.044.557
1  2024          1  Capital Federal        1.502.661     2.05  1.504.711
2  2024          1        Catamarca           74.932     1.00     74.933
3  2024          1            Chaco          155.538     5.00    155.543
4  2024          1           Chubut          169.819   857.00    170.676

In [51]:
kpi_2 = pd.read_csv('kpi_2.csv', encoding='latin1')
kpi_2.head()

,AÃ±o,Trimestre,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Conexiones_30Mbps,OTROS,Total
0,2024,1,28.801,69.355,866.152,950.930,672.155,353.896,8363694.0,328.173,11.633.156
1,2023,4,29.708,71.742,900.253,978.108,697.232,350.290,8224736.0,295.592,11.547.661
2,2023,3,30.274,80.609,945.608,998.725,720.084,350.918,8003269.0,277.421,11.406.908
3,2023,2,30.827,79.405,963.510,1.028.250,734.125,364.730,7775095.0,275.955,11.251.897
4,2023,1,31.437,82.048,1.001.553,1.060.321,729.194,357.769,7564819.0,414.754,11.241.895